<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Keyup, v-model y Computed</title>
</head>

<body>

    <div id="app">

        <h1>{{titulo}}</h1>
        <input type="text" name="" id="" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <input type="button" value="Agregar" @click="agregarFruta">
        <ul>
            <li v-for="fruta in frutas">
                <input type="number" v-model.number="fruta.cantidad"> -
                {{fruta.nombre}}
                <button @click="fruta.cantidad++">+</button>
                <span v-if="fruta.cantidad === 0">- Sin Stock</span>
            </li>
        </ul>
        <h4>Total: {{sumarTotal}}</h4>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>